.p1div1{
    width: 1300px;
    height: 700px;
}
.p1div1 ul{
    list-style-type: none;
    display: flex;
}
li{
    margin: 60px;
}
.login{
    border: 1px solid black;
    padding: 4px;
}
.p1p1{
    color: red;
    margin: 25px;
}
.p1h1{
    margin: 25px;
    font-size: 50px;
}
.p1p2{
    margin: 25px;
}
.fom{
    border: 1px solid yellow;
    background-color: yellow;
    padding: 10px; 
    border-radius: 8px;
    margin: 25px;
}
.p1div2{
    margin-left: 350px;
}
.gimg{
    height: 600px;
    width: 800px;
    margin-left: 430px;
    margin-top: -450px;
    
    
}
.playimg{
    height: 40px;
    width: 85px;
    margin-top: -400px;
    margin-left: 150px;
}
.playtxt{
    margin-top: -40px;
    margin-left: 230px;
}
.p2h{
    text-align: center;
}
.p2sec ul{
    list-style-type: none;
    display: flex;
}
.cont_3{
    text-align: center;
}
.p3flex{
    display: flex;
    margin: 0 220px;
}
.img1{
    position: relative;
}
.cont1{
    position: absolute;
    top: 1525px;
    left: 275px;
    background-color: white;
    padding: 17px;
    width: 173px;
    text-align: center;
}
.img2{
    position: relative;
}
.cont2{
    position: absolute;
    top: 1525px;
    left: 575px;
    background-color: white;
    padding: 17px;
    width: 173px;
    text-align: center;
}
.img3{
    position: relative;
}
.cont3{
    position: absolute;
    top: 1525px;
    left: 875px;
    background-color: white;
    padding: 17px;
    width: 173px;
    text-align: center;
}
.p4head{
    margin: 25px;
}
.p4sec ul{
    list-style-type: none;
}
.p4cont1{
    display: flex;
}
.p4cont2{
    display: flex;
}
.p4cont3{
    display: flex;
}
.p5img span{
    margin: 10px;
}
.p5{
    display: flex;
    margin-top: 70px;
}
.container{
    display: flex;
}
.p5 image1p5{
    margin: 50px;
}
.p6lastsheet img{
    border-radius: 60px;
}
.p6lastsheet{
    display: flex;
    margin-top: 220px;
    margin-left: -63px;
}
.p71st{
    margin: 80px;
}
.p7img{
    margin-top: -260px;
}
.cont{
    margin: 65px;
}
.p7{
    display: flex;
}
.p72nd{
    margin: 75px ;
}
.p8{
    margin: 105px;
}
.bgimg{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.cont9{
    text-align: center;
}
.p9form{
    text-align: center;
    padding: 45px;
}
.p10{
    display: flex;
    margin: 35px;
}
.p10_2{
    margin: 0 75px;
}
.p10_3{
    margin: 0 75px;
}
.p10_4{
    margin: 0 75px;
}
.last_p{
    text-align: center;
    font-size: 12px;
}
.last_p{
    margin: 45px;
}
